In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder

In [5]:
OHE=OneHotEncoder()

In [23]:
Countries=pd.read_csv(r"C:\Users\ppawa\Pranav\Study\Engineering\SEM 4\DMA\LabWork\DMA-Codes\countries of the world.csv")
Columns={'Climate','Birthrate','Deathrate','Agriculture','Industry','Service','Net migration','Infant mortality (per 1000 births)','Arable (%)','Crops (%)','Other (%)'}
Countries.drop(Columns,axis=1,inplace=True)
Countries.head()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),GDP ($ per capita),Literacy (%),Phones (per 1000)
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00",700.0,"36,0","3,2"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26",4500.0,"86,5","71,2"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04",6000.0,"70,0","78,1"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29",8000.0,"97,0","259,5"
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00",19000.0,"100,0","497,2"